<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "b2c sanity" parallel="false">
<parameter name="browser" value="chrome" />
<parameter name="wilsonart" value="wilsonart" />
<parameter name="polyrey" value="polyrey" />
<parameter name="finish" value="Q3006" />
<parameter name="Fname" value="venkat" />
<parameter name="Lname" value="palle" />
<parameter name="Company" value="techm" />
<parameter name="Email" value="venkatram.palle@gmail.com" />
<parameter name="Passwd" value="test123" />
<suite-files>
        <suite-file path="WA-US.xml" />
        <!-- <suite-file path="WA-Polyrey.xml" /> --> 
    </suite-files>
  <!--  <listeners>
      <listener class-name = "CustomReporter" />
      <listener class-name = "CustomListener" />
   </listeners> -->
</suite>